@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css");

.zitiBrowzerRuntimeSettings article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

.zitiBrowzerRuntimeSettings img {
    border: 0
}

.zitiBrowzerRuntimeSettings svg:not(:root) {
    overflow: hidden
}

.zitiBrowzerRuntimeSettings hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

.zitiBrowzerRuntimeSettings button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

.zitiBrowzerRuntimeSettings button {
    overflow: visible
}

.zitiBrowzerRuntimeSettings button,select {
    text-transform: none
}

.zitiBrowzerRuntimeSettings button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

.zitiBrowzerRuntimeSettings fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

.zitiBrowzerRuntimeSettings textarea {
    overflow: auto
}

.zitiBrowzerRuntimeSettings * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.zitiBrowzerRuntimeSettings :after,:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.zitiBrowzerRuntimeSettings button,input,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

.zitiBrowzerRuntimeSettings img {
    vertical-align: middle
}

.zitiBrowzerRuntimeSettings hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 4px solid #9e9e9e45;
}

.zitiBrowzerRuntimeSettings .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 768px) {
    .zitiBrowzerRuntimeSettings .container {
        width:750px
    }
}

@media (min-width: 992px) {
    .zitiBrowzerRuntimeSettings .container {
        width:970px
    }
}

@media (min-width: 1200px) {
    .zitiBrowzerRuntimeSettings .container {
        width:1170px
    }
}

.zitiBrowzerRuntimeSettings .row {
    margin-right: -15px;
    margin-left: -15px
}

.zitiBrowzerRuntimeSettings .col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.zitiBrowzerRuntimeSettings .col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
    float: left
}

.zitiBrowzerRuntimeSettings .col-xs-12 {
    width: 100%
}

.zitiBrowzerRuntimeSettings fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0
}

.zitiBrowzerRuntimeSettings label {
    display: inline-block;
    max-width: 80%;
    margin-bottom: 5px;
    font-weight: 700;
    color: #1c6cda;
}

.zitiBrowzerRuntimeSettings .form-control {
    display: block;
    width: 25%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s
}

.zitiBrowzerRuntimeSettings textarea.form-control {
    height: auto
}

.zitiBrowzerRuntimeSettings .form-group {
    margin-bottom: 15px
}

.zitiBrowzerRuntimeSettings .btn {
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.zitiBrowzerRuntimeSettings .btn-primary {
    color: #fff;
    background-color: #1bb3fd;
    border-color: #1bb3fd
}

.zitiBrowzerRuntimeSettings .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.zitiBrowzerRuntime_bottom-bar {
    position: fixed;
    top: 100px;
    left: 100px;
    background-image: linear-gradient(to right, #0965f3, #e10c5c) !important;
    color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    z-index: 99999;
    border: 1px solid white;
}

#zitiBrowzerRuntime_bottom-bar__move {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #0965f3;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    margin-bottom: 0px;
    border: 1px solid white;
    text-align: center;
}

#zitiBrowzerRuntime_bottom-bar__close {
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    background-color: #0965f3;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    margin-bottom: 0px;
    border: 1px solid white;
    text-align: center;
}

.zitiBrowzerRuntime_bottom-bar__content {
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.zitiBrowzerRuntime_bottom-bar__content > * {
    display: flex;
    align-items: center;
}

.zitiBrowzerRuntime_bottom-bar__text {
    padding-right: 10px;
}
.uplot, .uplot *, .uplot *::before, .uplot *::after {
    box-sizing: border-box;
}
.uplot {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    width: min-content;
}
.u-title {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
.u-wrap {
    position: relative;
    user-select: none;
}
.u-over, .u-under {
    position: absolute;
}
.u-under {
    overflow: hidden;
}
.uplot canvas {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.u-axis {
    position: absolute;
}
.u-legend {
    font-size: 12px;
    margin: auto;
    text-align: center;
}
.u-inline {
    display: block;
}
.u-inline * {
    display: inline-block;
}
.u-inline tr {
    margin-right: 16px;
}
.u-legend th {
    font-weight: 600;
}
.u-legend th > * {
    vertical-align: middle;
    display: inline-block;
}
.u-legend .u-marker {
    width: 1em;
    height: 1em;
    margin-right: 4px;
    background-clip: padding-box !important;
}
.u-inline.u-live th::after {
    content: ":";
    vertical-align: middle;
}
.u-inline:not(.u-live) .u-value {
    display: none;
}
.u-series > * {
    padding: 4px;
}
.u-series th {
    cursor: pointer;
}
.u-legend .u-off > * {
    opacity: 0.3;
}
.u-select {
    background: rgba(0,0,0,0.07);
    position: absolute;
    pointer-events: none;
}
.u-cursor-x, .u-cursor-y {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
    z-index: 100;
}
.u-hz .u-cursor-x, .u-vt .u-cursor-y {
    height: 100%;
    border-right: 1px dashed #607D8B;
}
.u-hz .u-cursor-y, .u-vt .u-cursor-x {
    width: 100%;
    border-bottom: 1px dashed #607D8B;
}
.u-cursor-pt {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 0 solid;
    pointer-events: none;
    will-change: transform;
    z-index: 100;
    /*this has to be !important since we set inline "background" shorthand */
    background-clip: padding-box !important;
}
.u-axis.u-off, .u-select.u-off, .u-cursor-x.u-off, .u-cursor-y.u-off, .u-cursor-pt.u-off {
    display: none;
}

.hystmodal__window {
    width: 800px;
    position: absolute;
    top: 1px;
}

.Canny_BadgeContainer, .Canny_Badge {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.changelogButtonContainer {
    width: 60px;
    animation-name: col;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.Canny_BadgeContainer {
    margin-left: 170px;
    height: 59px; 
    width: 59px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    box-shadow: 2px 2px 5px #ccc, -2px -2px 5px #ccc;
}

.Canny_Badge {
    color: white;
    font-size: 20px;
    animation-name: bell-ring;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes col {
    0% {
        transform: scale(1) translate(0,0);
    }
    10% {
        transform: scale(1.1) translate(0,0);
    }
    75% {
        transform: scale(1) translate(0,0);
    }
    100% {
        transform: scale(1) translate(0,0);
    }
}

@keyframes bell-ring {
    0% {
        transform: translate(-50%, -50%);
    }
    5%, 15% {
        transform: translate(-50%, -50%) rotate(25deg);
    }
    10%, 20% {
        transform: translate(-50%, -50%) rotate(-25deg);
    }
    25%  {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}
